@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    font-family: 'RobotoMono', arial;
    
}

h1{
    font-size: 4rem;
    text-align:center;
    text-shadow: yellow;
    color: rgb(145, 6, 75);
}
a {
    color:rgb(25, 25, 139);
  }

a:link {
    text-decoration: none;
    }

a:hover {
    background-color: lightgreen;
    text-decoration: underline;
    color:red;

  }

.simple_interest, .compound_interest{
    width: 180px;
    height: 150px;
    padding: 4% 5%;
    margin-top: 5rem;
    margin-right: 5rem;
    color:red;
    font-display: ;
    font-size: 1.5rem;
    text-align: center;
    border:5px solid rgba(243, 24, 24, 0.856);
    box-shadow:5px 5px 10px rgba(194, 130, 231, 0.9);
    background-color: rgb(65, 231, 231);
    border-radius: 25%;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* flex-end flex-start */
    /*align-items:center;*/
    /*flex-direction: column;*/
}

label{
    display: block;
    margin-top: 1rem;
}

.ci,.si{
    width: 230px;
    height: 430px;
    /* padding: 4% 5%; */
    padding: 3rem 6rem;
    margin-top: 5rem;
    margin-right: 5rem;
    border:5px solid rgba(255, 0, 0, 0.925);
    box-shadow:5px 5px 10px rgba(194, 130, 231, 0.9);
    background-color: rgb(243, 169, 59);
    border-radius: 10%;
    text-align: center;
    align-content: center;
}

input{
    height: 1.5rem;
    padding:  0.5rem;
    border:none;
    border-bottom: 2px solid rgb(114, 22, 235);
}

input:focus{
    outline:none;
    border-bottom: 2px solid rgb(89, 169, 223);
    
}

.calculate{
    margin: 1rem 0;
    padding: 1rem 1rem;
    border-radius: 10px;
    border:none;
    background: #00acee;
    color: white;
    font-size: 100%;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 3rem;
    }
    .simple_interest, .compound_interest{
        width: 200px;
    }
}

.arrow-highlight{
    position:relative;
    margin:0 0.5em;
    padding:0 0.2em;
  }
  .arrow-highlight:before{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:0.1em;
    border-width:0.5em;
    border-style:solid;
    border-color:orange;
    position:absolute;
    width:calc(100% - 0.5em);
    border-left-color:transparent;
  }
  
  .arrow-highlight:after{
    content:"";
    z-index:-1;
    right:0;
    top:0.1em;
    border-width:0.5em;
    border-style:solid;
    border-color:orange;
    position:absolute;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-left-color:transparent;
    transform:rotate(180deg);
    transform-origin:center right;
  }